<div class="searchComponentContainer">

    <br><h1 id=searchHeader>Search for a movie</h1><br>
    
    <form>
        <div id=searchBox>
            <input #box id=box type="text" placeholder="Search by Title..." autocomplete (keyup.enter)="inputValue(box.value) && requestByTitle()"
            (blur)="inputValue(box.value)">
            <input class="search" type="submit" (click)="requestByTitle()" value="Search">
        </div>
    </form>
    
    <div id=requestByTitleResults>

        <ul *ngFor="let result of APIbyTitleRequestResults">
            <div style="position: relative;" (click)="requestByTitleDate(result.Title, result.Year)">

                <div class="info" style="position: absolute; display: none">
                    <h3>Movie title: {{ result.Title }}</h3>
                    <li>Release year: {{ result.Year }}</li>
                    <li>Type: {{ result.Type }}</li>
                </div>

                <img id="poster" src="{{ result.Poster }}" alt="{{ result.Title }}">

            </div>
            <br>
        </ul>
        
    </div>
    
    <div id="movieFullInfo">
        
        <ul *ngFor="let result of APIbyTitleDateRequestResults">
            <h2>Movie title: {{ result.Title }}</h2>
        </ul>

    </div><br>
    

</div>
