*{
    text-align: center;
}
form{
    text-justify: center;
    margin-bottom: 20px;
}
ul, h1{
    padding: 0;
    color: aliceblue;
}
li {
    list-style-type: none;
}
#requestByTitleResults{
    height: 450px;
    margin: 0 15% 0 15%;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.searchComponentContainer{
    min-height: 100vh;
    height: fit-content;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNLIX67VdbOZdaMsDQeJjyFRM6kRBtIbaNfw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* .hover:hover{
    background-color: black;
} */
#poster{
    max-height: 450px;
}
input#box{
    /* position: relative; */
    font-size: large;
    width: 50%;
    height: 40px;
}
#searchBox{
    position: relative;   
}
#search{
    position: absolute;
}