<div class="searchComponentContainer">

    <br><h1 id=searchHeader>Search for a movie</h1><br>

    <form>
        <div id=searchBox>
            <input #box id=box type="text" placeholder="Search by Title..." autocomplete (keyup.enter)="inputValue(box.value) && request()"
            (blur)="inputValue(box.value)">
            <input class="search" type="submit" (submit)="request()" value="Search">
        </div>
    </form>

    <div id=requestResults>

        <ul *ngFor="let result of APIresults">
            <div style="position: relative;">

                <div class="info" style="position: absolute; display: none">
                    <h3>Movie title: {{ result.Title }}</h3>
                    <li>Release year: {{ result.Year }}</li>
                    <li>Type: {{ result.Type }}</li>
                </div>

                <img id="poster" src="{{ result.Poster }}" alt="{{ result.Title }}">

            </div>
            <br>
        </ul>

    </div>
    
</div>
